<div class="container">
  <h2 class="text-center mt-4 mb-0">Sign up</h2>

  <div class="devise-card mt-4 mb-5 mx-auto">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="name d-flex justify-content-between">
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
        </div>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <div class="name d-flex justify-content-between">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class:"btn-green mb-1" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
