<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>Email: <%= @user.email %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Phone: <%= @user.phone %></p>

<% if current_user == @user %>
  <%= link_to 'Editar', edit_user_path(@user), class:"btn btn-dark-green" %>
<% end %>
