<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>Email: <%= @user.email %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Phone: <%= @user.phone %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
