<!-- pagina de 'match' da adoção logo após o cadastro -->
<div class="container my-3">
  <% if defined?(@adoption_created) && @adoption_created %>
    <h1>DEU MATCH</h1>

    <h3>Parabéns! Você e <strong><%= @animal.name %></strong> deram match!</h3>
    <h4>Em breve entraremos em contato com você na data escolhida para que possamos conversar um pouco mais.</h4>
  <% end %>

    <div class="border border-1 p-3">

      <h1>Detalhes da Aplicação</h1>
      <p><strong><%= "Interessado(a): " %></strong><%= "#{@adoption.user.first_name} #{@adoption.user.last_name}" %></p>
      <p><strong><%= "E-mail de #{@adoption.user.first_name}: " %></strong><%= "#{@adoption.user.email}" %></p>
      <p><strong><%= "Animal: " %></strong><%= "#{@adoption.animal.name}" %></p>
      <p><strong><%= "Tutor(a): " %></strong><%= "#{@adoption.animal.user.first_name} #{@adoption.animal.user.last_name}" %></p>
      <p><strong><%= "E-mail de #{@adoption.animal.user.first_name}: " %></strong><%= "#{@adoption.animal.user.email}" %></p>
      <p><strong><%= "Espécie: " %></strong> <%= "#{@adoption.animal.specie}" %></p>
      <p><strong><%= "Idade: " %></strong><%= "#{@adoption.animal.age}" %></p>
      <p><strong><%= "Porte: " %></strong><%= "#{@adoption.animal.size}" %></p>
      <p><strong><%= "Gênero: " %></strong><%= "#{@adoption.animal.gender}" %></p>
      <p>
          <% if @adoption.animal.vaccination && @animal.gender == 'Macho' %>
            <p><i class="fa-solid fa-check"></i> Vacinado</p>
            <% elsif @animal.vaccination == false && @animal.gender == 'Macho' %>
            <p><i class="fa-solid fa-xmark"></i> Não vacinado</p>
            <% elsif @animal.vaccination && @animal.gender == 'Fêmea' %>
            <p><i class="fa-solid fa-check"></i> Vacinada</p>
            <% elsif @animal.vaccination == false && @animal.gender == 'Fêmea' %>
            <p><i class="fa-solid fa-xmark"></i> Não vacinada</p>
          <% end %></p>
      <p>
          <% if @animal.neutered && @animal.gender == 'Macho' %>
            <p><i class="fa-solid fa-check"></i> Castrado</p>
            <% elsif @animal.neutered == false && @animal.gender == 'Macho' %>
            <p><i class="fa-solid fa-xmark"></i> Não castrado</p>
            <% elsif @animal.neutered && @animal.gender == 'Fêmea' %>
            <p><i class="fa-solid fa-check"></i> Castrada</p>
            <% elsif @animal.neutered == false && @animal.gender == 'Fêmea' %>
            <p><i class="fa-solid fa-xmark"></i> Não castrada</p>
          <% end %></p>
      <p><strong><%= "História: " %></strong><%= "#{@adoption.animal.story}" %></p>
      <p><strong><%= "Data da adoção: " %></strong> <%= "#{@adoption.date.strftime("%d/%m/%Y")}" %></p>
      <p><strong><%= "Status: " %></strong><%= "#{@adoption.status}" %></p>

      <% if current_user.adopter == false && @adoption.status == "Pendente" %>
        <div class="d-flex align-items-center mt-2">
          <p class="my-auto"><strong class="contract-bold"><%= "O interessado(a) está apto(a) a ser o novo tutor(a) de " %><%= @adoption.animal.name %>?</strong></p>
          <%= button_to 'Sim', update_status_path(id: @adoption.id, status: 'Aceito'), method: :patch, data: { "turbo-method": :patch }, class: "btn-green mx-2" %>
          <%= button_to 'Não', update_status_path(id: @adoption.id, status: 'Recusado'), method: :patch, data: { "turbo-method": :patch }, class: "btn-red" %>
        </div>
      <% end %>

      <% if current_user.adopter? && @adoption.status == "Aceito" %>
        <%= link_to 'Conte-nos sua experiência', new_adoption_testimony_path(@adoption), class:'btn-yellow-outline' %>
      <% end %>

    </div>


  <!-- fazer botão para todos os 'matches' (index animals) -->
  <%= link_to 'Voltar ao meu perfil', dashboard_path(@adoption), class:"btn btn-dark-green" %>
</div>
