<div class="container">
  <%= simple_form_for @animal do |f| %>
    <%= f.input :name, label: 'Nome', placeholder: 'Caramelo' %>
    <%# <%= f.input :photo, label: 'Foto', as: :file %>
    <%= f.input :specie, label: 'Espécie', as: :radio_buttons, collection: ['Gato', 'Cachorro'] %>
    <%= f.input :age, label: 'Idade', placeholder: '1-3' %>
    <%= f.input :size, label: 'Porte', as: :radio_buttons, collection: ['Pequeno', 'Médio', 'Grande'] %>
    <%= f.input :gender, label: 'Sexo', as: :radio_buttons, collection: ['Macho', 'Fêmea'] %>
    <%= f.input :vaccination, label: 'Vacinado', as: :boolean %>
    <%= f.input :neutered, label: 'Castrado', as: :boolean %>
    <%= f.input :city, label: 'Cidade', placeholder: 'São Paulo' %>
    <%= f.input :state, label: 'Estado', placeholder: 'São Paulo' %>
    <%= f.input :story, :as => :text, :input_html => { class: 'test', :cols => 5, :rows => 8 }, label: 'História', placeholder: 'Descreva a história do resgate do seu animal', class:"textarea" %>

    <%= f.button :submit, class:"btn btn-dark-green"%>
  <% end %>
</div>

<!-- botão para voltar e ver minha pagina principal (index user) -->
<%# <%= link_to 'Voltar ao menu principal', user_path(@user), class: 'btn btn-primary' %> %>
