<div class="container">
  <div class="row">
    <% @animals.each do |animal| %>
      <% if current_user.id == animal.user.id %>
        <div class="col-sm-4">
          <div class="card">
            <h3><%= animal.name %></h3>
            <p><%= animal.specie %></p>
            <p><%= animal.age %> anos</p>
            <p><%= animal.city %> / <%= animal.state %></p>
            <%= link_to "Mais informações", animal_path(animal), class: 'btn btn-yellow' %>
          </div>
        </div>
      <% else %>
        <div class="col-sm-4">
          <div class="card">
            <h3>Você não tem animais cadastrados</h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Adicionar animal", new_user_animal_path(current_user), class: "nav-link btn btn-dark-green" %>
</div>
