<div class="container mb-4">
  <div class="mb-4">
    <p class="navigation mb-1 mt-5"><%= link_to "Home", "/", class:"navigation" %> / Animais para adoção</p>
    <h4 class="second-title"><%=@animals.count %> animais para adoção</h4>
  </div>

  <div class="row d-flex align-items-between mx-3">
    <% @animals.each do |animal| %>
        <div class="col-sm-3 mb-4">
          <div class="card-index mx-auto my-auto">

            <div class="position-relative">
                <%= image_tag "cat.jpg", class:"image" %>
                <% animal.adoptions.each do |adoption| %>
                  <% if adoption.status == "Aceito" %>
                    <div class="position-absolute top-0 start-0 w-100 bg-dark text-white d-flex justify-content-center align-items-center p-2">Adotado</div>
                  <% end %>
                <% end %>
              </div>

            <div class="back-caramelo d-flex justify-content-between p-4">
              <div class="animal-preview">
                <h3 class="mb-0"><%= animal.name %></h3>
                <p class="mb-0"><%= animal.city %>/<%= animal.state %></p>
              </div>

              <div class="icons">
                <%= link_to "<i class=\"fa-solid fa-circle-info\"></i>".html_safe, animal_path(animal), class:"info" %>
                <%= link_to "<i class=\"fa-solid fa-heart\"></i>".html_safe, animal_path(animal), class:"info" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
