<div class="container">
  <!-- código a ser executado se o usuário tiver um animal -->
  <h1><%= @animal.name %></h1>
  <h3><%= @animal.specie %></h3>
  <p>Tenho <%= @animal.age %> anos </p>
  <p>Sou da cidade de <%= @animal.city %> / <%= @animal.state %></p>
  <p>Tenho um porte <%= @animal.size %></p>
  <p>Sou <%= @animal.gender %></p>
  <% if @animal.vaccination && @animal.gender == 'Macho' %>
    <p>Vacinado</p>
    <% elsif @animal.vaccination == false && @animal.gender == 'Macho' %>
    <p>Não vacinado</p>
    <% elsif @animal.vaccination && @animal.gender == 'Fêmea' %>
    <p>Vacinada</p>
    <% elsif @animal.vaccination == false && @animal.gender == 'Fêmea' %>
    <p>Não vacinada</p>
  <% end %>
  <% if @animal.neutered && @animal.gender == 'Macho' %>
    <p>Castrado</p>
    <% elsif @animal.neutered == false && @animal.gender == 'Macho' %>
    <p>Não castrado</p>
    <% elsif @animal.neutered && @animal.gender == 'Fêmea' %>
    <p>Castrada</p>
    <% elsif @animal.neutered == false && @animal.gender == 'Fêmea' %>
    <p>Não castrada</p>
  <% end %>
  <h3>Conheça a minha história</h3>
  <h4>"<%= @animal.story %>"</h4>

  <!-- fazer botão para todos os 'matches' (index animals) -->
  <%= link_to 'Voltar', animals_path, class: 'btn btn-dark-green' %>
  <%= link_to 'Editar', edit_animal_path, class: 'btn btn-yellow' %>
  <%= link_to 'Adotar', new_user_animal_adoption_path(user_id: current_user, animal_id: @animal) %>

  <!-- app/views/animals/show.html.erb -->
  <%= link_to "Delete", animal_path(@animal), data: {turbo_method: :delete, turbo_confirm: "Você tem certeza?"}, class:"btn btn-red" %>
</div>
